*.class

*.classpath
*.project
*.pydevproject
.metadata
bin/
tmp/
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.directory
.DS_Store
.__afs*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Repository specific
*.ser
runParameters.txt
default.properties
.settings/
